body {
  background-image: url(./img/wave1.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Truculenta;
  height: 100%
}

.navbar {
  background-color: #0b5042 !important;
  border-radius: 2rem;
  box-shadow: 5px 5px #0006, 10px 10px #0000004d, 15px 15px #0003, 20px 20px #0000001a, 25px 25px #0000000d;
  font-variation-settings: "wdth" 125;
  font-weight: 900;
  margin: 1rem 3rem 0
}

.navbar a {
  font-size: 1.5rem;
  padding: 1rem
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 2rem
}

h1 {
  font-variation-settings: "wdth" 125;
  font-weight: 900;
  margin-bottom: 0
}

.ta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

textarea {
  width: 50vw;
  margin: 1rem;
  padding: 2rem;
  background-color: #FFFBE9;
  border-radius: 1.2rem;
  font-weight: 500;
  box-shadow: rgb(0 0 0 / 40%) 5px 5px,
    rgb(0 0 0 / 30%) 10px 10px,
    rgb(0 0 0 / 20%) 15px 15px,
    rgb(0 0 0 / 10%) 20px 20px,
    rgb(0 0 0 / 5%) 25px 25px;
  resize: none;
  overflow: auto;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #0b5042 transparent;
}

#btn,
#btnc {
  display: flex;
  justify-content: center
}

.btn {
  box-shadow: 5px 5px #0006, 10px 10px #0003, 15px 15px #0000001a
}

.btn,
.btn:active {
  background-color: #0b5042 !important;
  border: none;
  margin: 1rem
}

.btn:active {
  box-shadow: none
}